* {
    margin: 0;
}
body {
    justify-content: center;
    display: flex;
}
input {
    min-width: 280px;
    width: fit-content;
    height: 50px;
    font-size: 22px;
    color: white;
    background-color: wheat;
    border-color: #fff;
}
#login {
    width: 275px;
}