<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="container">
    <div class="text">
        <h1>Welcome to my page</h1>
    </div>
    <form action="/" method="post">
        <input type="submit" value="sign in" name="sign_in" id="sign_in">
        <input type="submit" value="sign up" name="sign_up_page" id="sign_up">
    </form>
    </div>
</body>
</html>